<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">

    <div class="four columns">
      <%= image_tag "logo/manndi-white.png", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:8981125715">+91-89811 25715</a>
        </div>
<!--       <br> -->
      <div class="email">
        <a href="mailto:manndi.in@gmail.com">manndi.in@gmail.com</a>
      </div>
<!--       <br> -->
      <div class="address">
<!--         Spree Demo Store 01 -->
<!--         <br> -->
        Kolkata, India
      </div>
    </div>

<!--
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>
      </ul>
    </div>
-->
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
<!--        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>-->
      </ul>
    </div>

    <div class="four columns">
      <h5>Bulk Orders</h5>
      <p>
        If you want to order in bulk, and want even more discounts on the prices listed, get in touch with us directly with a mail titled <u><a href="mailto:manndi.in@gmail.com?Subject=Bulk%20Order%Query">Bulk Order</a></u>
      </p>
    </div>

    <div class="four columns">
      <h5>Important info</h5>
      <p>
        We are still not fully ready to accept orders. But you can mail  any <u><a href="mailto:manndi.in@gmail.com?Subject=Feedback">feedback</a></u> (even positive😉) or quries and we will be sure to get back to you.
      </p>
    </div>

  </div>
</footer>
